body {background-color:black;font-family: arial;color:white;}
h1{color:gray;font-family: verdana;}
.maindiv{
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    border-radius: 25px;
    margin-left: -150px;
    margin-top: -200px;
    align-content:center;
}
mark{
    background-color: yellow;
}

